

.big {
    font-size: 1.2em;
}


/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px; /* demo only */
}

.custom-dropdown select {
    cursor:pointer;
    background-color: #2980b9;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
    color: rgba(0,0,0,.4);
}





#email_cart{
    border: 1px solid black;
}

.index_photo:hover {

    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
   }


    #myList {
    margin-right: 60px;
        padding-left: 0px;
}

    #find_button {
    padding-top: 10px;
}
    .img_search {
        cursor:pointer;

    }

.img_search:hover {
    cursor:pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


    @media screen and (min-width: 1199px) {

        .product-f-image {
            width: auto;
            height: 300px;
        }

        .single_photo {
            width: auto;
            height: 300px;
        }

        .img_search {
            width: auto;
            height: 120px;
        }

    }

    @media screen and (min-width: 992px) {

        .product-f-image {
            width: auto;
            height: 320px;
        }

        .single_photo {
            width: auto;
            height: 320px;
        }

        .img_search {
            width: auto;
            height: 120px;

        }


        #myList {
            margin-right: 60px;
        }

    }



    @media screen and (max-width: 1199px) {

        #find_button {
            padding-left: 50px;
            padding-bottom: 20px;
        }

    }


    @media screen and (min-width: 768px) {

        .index_photo {
            width: auto;
            height: 240px;
        }

        .product-f-image {
            width: auto;
            height: 250px;
        }

        .single_photo {
            width: auto;
            height: 250px;
        }

        .img_search {
            width: auto;
            height: 140px;

        }
        #myList {
            margin-right: 10px;
        }

        .title_id   {

            padding-top: 15px;
            padding-bottom: 10px;
            font-weight:bold;
            cursor:pointer;

        }
    }


    @media screen and (max-width: 768px) {

        .product-count {
            margin-top: 16px;
            margin-right: 20px;
        }

        .single_search {

            padding-top: 20px;

        }

        .single_photo {
            width: auto;
            height: 300px;
        }

        .product-f-image {
            width: auto;
            height: 300px;
        }

        .title_id   {

            padding-top: 15px;
            padding-bottom: 10px;
            font-weight:bold;
            cursor:pointer;
            font-size: 20px

        }


    }