
.index_photo:hover {

    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
   }


    #myList {
    margin-right: 60px;
        padding-left: 0px;
}

    #find_button {
    padding-top: 10px;
}
    .img_search {
        cursor:pointer;

    }

.img_search:hover {
    cursor:pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


    @media screen and (min-width: 1199px) {

        .product-f-image {
            width: auto;
            height: 300px;
        }

        .single_photo {
            width: auto;
            height: 300px;
        }

        .img_search {
            width: auto;
            height: 120px;
        }

    }

    @media screen and (min-width: 992px) {

        .product-f-image {
            width: auto;
            height: 320px;
        }

        .single_photo {
            width: auto;
            height: 320px;
        }

        .img_search {
            width: auto;
            height: 120px;

        }


        #myList {
            margin-right: 60px;
        }

    }



    @media screen and (max-width: 1199px) {

        #find_button {
            padding-left: 50px;
            padding-bottom: 20px;
        }

    }


    @media screen and (min-width: 768px) {

        .index_photo {
            width: auto;
            height: 240px;
        }

        .product-f-image {
            width: auto;
            height: 250px;
        }

        .single_photo {
            width: auto;
            height: 250px;
        }

        .img_search {
            width: auto;
            height: 140px;

        }
        #myList {
            margin-right: 10px;
        }

        .title_id   {

            padding-top: 15px;
            padding-bottom: 10px;
            font-weight:bold;
            cursor:pointer;

        }
    }


    @media screen and (max-width: 768px) {

        .product-count {
            margin-top: 16px;
            margin-right: 20px;
        }

        .single_search {

            padding-top: 20px;

        }

        .single_photo {
            width: auto;
            height: 300px;
        }

        .product-f-image {
            width: auto;
            height: 300px;
        }

        .title_id   {

            padding-top: 15px;
            padding-bottom: 10px;
            font-weight:bold;
            cursor:pointer;
            font-size: 20px

        }


    }